html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden
  background: #EBE5CF

  
.app-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  background: #EBE5CF

.map-wrapper
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  cursor: grab

.map-background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: contain
  pointer-events: none
  background-color: #EBE5CF

.map-canvas
  position: absolute
  top: 0
  left: 0
