.map-step-wrapper {
  position: relative;
  height: calc(100vh - 110px); /* под шапку */
  padding: 110px 16px 16px 16px;
  box-sizing: border-box;
}

.map-step-wrapper .back-button {
  background: #ffffff73;
  border-radius: 50%;
  border: none;
  padding: 7px;
  font-size: 20px;
  color: #862518;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 8px;
  align-self: flex-start;
}
