.map-step-wrapper {
  position: relative;
  height: calc(100vh - 110px); /* под шапку */
  padding: 110px 16px 16px 16px;
  box-sizing: border-box;
}

.map-step-wrapper .back-button {
  background: #ffffff73;
  border-radius: 50%;
  border: none;
  padding: 7px;
  font-size: 20px;
  color: #862518;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 8px;
  align-self: flex-start;
}

.text-paragraph {
  line-height: 30px;
  margin-right: 3px;
  margin-bottom: 10px;
  font-family: sans-serif;
}
.text-paragraph__title {
  text-align: center;
  line-height: 30px;
  margin-right: 3px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #862518;
}
.text-paragraph__end {
  text-align: center;
  line-height: 30px;
  margin-right: 3px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.reward-button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reward-button {
  padding: 18px 40px;
  background-color: #862518;
  color: #d9cfb8;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 41px;
  cursor: pointer;
  white-space: nowrap; /* предотвращает перенос текста */
  min-width: 280px; /* минимальная ширина, чтобы текст не сжимался */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s,
    background-color 0.2s;
}
