.map-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 375px;
  max-width: 100%;
  height: 58%;
  transform: translateX(-50%);
  background-color: rgba(255, 162, 0, 0); /* эквивалент #ffa2000 */
  overflow: hidden;
  touch-action: none;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  cursor: grab;
}
.map-container-quest {
  height: 45%;
}

.map-container.dragging {
  cursor: grabbing;
}

.map-canvas {
  display: block;
  flex-grow: 1;
}

.map-follow-btn {
  position: absolute;
  top: 52px;
  left: 12px;
  z-index: 20;
  padding: 8px 14px;
  background: #862518;
  border: none;
  color: #d9cfb8;
  border-radius: 6px;
  cursor: pointer;
}
